nav img {
    position: absolute;
    top: 8vw;;
    right: 0;
    opacity: .1;
    z-index: -1;
    width: 130%;

    @include laptop {
      display: none;
    }
}

section.webproject img {
  display: block;
  width: 100%;
   max-width: 700px;

   @include desktop {
     float: left;
     width: 50%;
   }
}


/***** FOOTER (not currently in use)
.footericon {
  width: 50%;
  max-width: 15rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

img.footertexture {
  width: 20vw;
  max-width: 6rem;
  position: absolute;
  bottom: 0;
  left: 2vw;
}

img.footertextureflip {
  width: 20vw;
  max-width: 6rem;
  position: absolute;
  bottom: 0;
  right: 2vw;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

img.footertexturecenter {
  width: 35vw;
  max-width: 10rem;
  position: absolute;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);
}

*****/
