img.pagebg {
    position: fixed;
    right: 0;
    top: 9rem;
    opacity: .15;
    width: 170%;
    z-index: -10;

    @include tablet {
      width: 140%;
      top: 11rem;
    }

    @include laptop {
      width: 130%;
      top: 14rem;
    }

    @include desktop {
      width: 95%;
      top: 0;
      opacity: .2;
    }
}

//** Project Molecule Images **//
.projectContainer img {
  width: 95%;
  max-width: 700px;
  display: block;
  margin: auto;

  @include desktop {
    width: 50%;
    float: left;
    margin-left: 1rem;
  }
}

//** About Section Images **//
.bioMolecule img {
  width: 100%;
  display: inline;

  @include laptop {
    width: 75%;
    margin-left: 20%;
  }

  @include desktop {
    width: 50%;
    float: left;
    margin-left: 0;
  }
}

.skills img {
  display: inline;
  width: 70%;
  float: right;

  @include desktop{
    width: 65%;
    margin-top: .1rem;
  }
}

.pdfWrapper img {
  width: 30%;
  max-width: 150px;
  display: inline;
  float: right;

  @include desktop{
    width: 25%;
  }
}

img#emailLogo {
  width: 22.5%;
  max-width: 150px;

  @include desktop{
    width: 20%;
  }
}

.socialWrapper img {
  width: 22.5%;
  max-width: 150px;

  @include desktop{
    width: 20%;
  }
}
