body {
  background-color: $black;
}

header {
  text-align: center;

  @include tablet {
    margin-top: 1rem;
    text-align: right;
  }

  @include desktop {
    float: right;
    width: 600px;
    clear: both;
    margin-top: -1.75rem;
    margin-right: 1rem;
  }
}

section.worktypebuttons {
  @include desktop {
    margin-top: 5rem;
  }
}


//*** Basic Section Styles ***//
section.siteSection {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;

  @include desktop {
    width: 80%;
    left: 20%;
  }
}

section#sectionOne {
  background-color: $rich-blue;
  display: none;
}

.sectionOne #sectionOne {
  display: block;
}

section#sectionTwo {
  background-color: $duck-blue;
  display: none;
}

.sectionTwo #sectionTwo {
  display: block;
}

section#sectionThree {
  background-color: $grey-blue;
  display: none;
}

.sectionThree #sectionThree {
  display: block;
}

section#sectionFour {
  background-color: $maroon;
  display: none;
}

.sectionFour #sectionFour {
  display: block;
}

section#aboutSection, section#blogSection {
  background-color: $white;
  display: none;
}

.aboutSection #aboutSection, .blogSection #blogSection  {
  display: block;
}

section#aboutSection:hover, section#blogSection:hover {
   cursor: url(../img/trackglove_cursorBlack.png), auto;
}


//*** Section Interior Styles ***//

//** Project Moelcule Styles **//
article.projectContainer {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 4rem;
  border: 1px solid $white;
  background-color: $transBlack;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(28,38,48,1);
  -moz-box-shadow: 0px 5px 8px 0px rgba(28,38,48,1);
  box-shadow: 0px 5px 8px 0px rgba(28,38,48,1);

  @include desktop {
    margin: 5rem 2rem 4rem;
  }
}

div.projectHeader {
  margin-bottom: 2rem;
  border-bottom: 1px solid $white;
  height: 14vw;

  @include laptop {
    height: 80px;
  }
}

div.projectCopy {
  width: 95%;
  max-width: 700px;
  margin: auto;
  margin-top: 1.5rem;

  @include desktop {
    width: 45%;
    float: right;
    margin-top: 0;
    margin-right: 1rem;
  }
}

div.projectLink {
  text-align: right;
  border-top: 1px solid $white;
  margin-top: 2rem;
}


//** About Section Molecules **//
article.skills {
  width: 95%;
  max-width: 550px;
  margin: auto;
  margin-top: 16vw;

  @include tablet {
    margin-top: 4rem;
  }

  @include desktop {
    width: 45%;
    float: left;
    margin-top: 1rem;
    max-width: 500px;
  }
}

div.skill {
  margin-top: 1rem;
}

article.aboutFooter {
  width: 95%;
  max-width: 550px;
  margin: auto;
  margin-top: 16vw;
  margin-bottom: 8vw;

  @include tablet {
    margin-top: 6rem;
  }

  @include desktop {
    width: 45%;
    float: right;
    margin-right: 2rem;
    margin-top: 0;
    max-width: 450px;
    margin-bottom: 4rem;
  }
}

div.emailWrapper {
  margin-top: 6vw;

  @include tablet {
    margin-top: 1.5rem;
  }
}

div.socialWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 4vw;
  text-align: center;

  @include tablet {
    margin-top: 3rem;
  }

  @include desktop{
    margin-top: 1.5rem;
  }
}
