html {
  box-sizing: border-box;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

div.clearfix {
  visibility: hidden;
  clear: both;
}

div#aboutClearMain {
  visibility: hidden;
  clear: both;
  margin-bottom: 3rem;
}
