html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

div.clearfix {
  visibility: hidden;
  clear: both;
}

div#aboutClearMain {
  visibility: hidden;
  clear: both;
  margin-bottom: 3rem;
}
