html {
  font-family: $copy-font;
  color: $white;
  font-size: 16px;
  line-height: 1.6;
  cursor: url(../img/trackglove_cursor.png), auto;
}

a, input, .worktypebuttons h3, i, div.showMore {
   cursor: url(../img/trackglove_cursorlink.png), auto;
 }

p {
   cursor: text;
 }

h1 {
  font-family: $header-font;
  font-size: 13vw;
  color: $white;
  text-transform: uppercase;
  padding-top: 1rem;

  @include tablet {
    font-size: 3.8em;
    padding-right: 2rem;
  }

  @include laptop {
    font-size: 5em;
  }

  @include desktop {
    padding-top: 0;
  }
}

h2 {
  color: $gold;
  font-size: 6vw;
  letter-spacing: 1.2vw;

  @include tablet {
    font-size: 1.5em;
    letter-spacing: .33em;
    padding-right: 2rem;
  }

  @include laptop {
    font-size: 2em;
  }
}


/*** SECTION CONTROLLERS ***/
.worktypebuttons h3 {
  margin: auto;
  width: 95%;
  display: block;
  font-family: $header-font;
  font-size: 10vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;

  @include tablet {
    font-size: 3em;
    margin-left: -1px;
    text-align: right;
    padding-left: 0;
    padding-right: 1rem;
  }

  @include desktop {
    font-size: 3em;
    margin-top: 1rem;
  }
}


h3#buttonOne {
  color: $duck-blue;
  border: 1px solid $duck-blue;

  @include tablet {
    width: 70%;
  }

  @include laptop {
    width: 60%;
  }

  @include desktop {
    width: 40%;
  }
}

h3#buttonOne:hover {
  background-color: $duck-blue;
  color: $white;
}


h3#buttonTwo {
  color: $grey-blue;
  border: 1px solid $grey-blue;

  @include tablet {
    width: 52.5%;
  }

  @include laptop {
    width: 42.5%;
  }

  @include desktop {
    width: 22.5%;
  }
}

h3#buttonTwo:hover {
  background-color: $grey-blue;
  color: $white;
}

h3#buttonThree {
  color: $maroon;
  border: 1px solid $maroon;

  @include tablet {
    width: 60%;
  }

  @include laptop {
    width: 50%;
  }

  @include desktop {
    width: 30%;
  }
}

h3#buttonThree:hover {
  background-color: $maroon;
  color: $white;
}

/* Disabled button to be reactivated as sections are added

h3#buttonFour {
  color: $maroon;
  border: 1px solid $maroon;

  @include tablet {
    width: 55%;
  }

  @include laptop {
    width: 45%;
  }

  @include desktop {
    width: 25%;
  }
}

h3#button4:hover {
  background-color: $maroon;
  color: $white;
}

*/

h3#aboutButton, h3#blogButton {
  color: $white;
  border: 1px solid $white;
  text-align: right;
  padding-right: 1.5rem;

  @include tablet {
    width: 35%;
  }

  @include laptop {
    width: 35%;
  }

  @include desktop {
    width: 17.5%;
  }
}

h3#aboutButton {
  margin-top: 4rem;
}


//** Section Open - Section Controller Styles **//

.sectionOne .worktypebuttons h3, .sectionTwo .worktypebuttons h3, .sectionThree .worktypebuttons h3, .sectionFour .worktypebuttons h3, .aboutSection .worktypebuttons h3 , .blogSection .worktypebuttons h3 {
  text-align: left;
  padding-left: 1.5rem;
  width: 100%;
  font-size: 3.2vw;
}

.sectionOne #buttonOne, .sectionTwo #buttonTwo, .sectionThree #buttonThree, .sectionFour #buttonFour {
  color: $white;
  pointer-events: none;
}

.sectionOne #buttonOne {
  background-color: $duck-blue;
}

.sectionTwo #buttonTwo {
  background-color: $grey-blue;
}

.sectionThree #buttonThree {
  background-color: $maroon;
}

/* diasbled style to be reactivated as sections are added

.sectionFour #buttonFour {
  background-color: $maroon;
}

*/

.aboutSection, .blogSection {
  color: $black;
}

.aboutSection #aboutButton, .blogSection #blogButton {
  background-color: $white;
  color: $black;
  pointer-events: none;
}

//** Section Interior Styles **//
.siteSection h4 {
  font-family: $header-font;
  color: $white;
  font-size: 14vw;
  margin-top: -1vw;
  margin-left: 2.5%;

  @include tablet {
    font-size: 4em;
  }

  @include desktop {
    display: none;
  }
}

.siteSection i {
  color: $white;
  font-size: 12vw;
  position: absolute;
  top: 5vw;
  right: 2.5%;

  @include tablet {
    font-size: 3.4em;
    top: 1.5rem;
  }

  @include desktop {
    top: .8rem;
  }
}

.aboutSection i, .blogSection i {
  color: $black;
}

//** Project Molecule Styles **//
.projectHeader h5 {
  font-family: $header-font;
  font-size: 8vw;
  text-transform: lowercase;
  display: inline;
  float: right;
  padding-right: 4vw;
  color: $white;

  @include laptop {
    font-size: 3.5em;
    margin-top: -.6rem;
    padding-right: 2rem;
  }
}

.projectHeader i {
  font-size: 10vw;
  position: static;
  border-right: 1px solid $white;
  float: left;
  height: 14vw;
  padding: .5rem 1rem 0 1rem;

  @include laptop {
    font-size: 4em;
    height: 80px;
  }
}

.projectTechContainer p {
  font-size: 3.8vw;

  @include tablet {
    font-size: 1em;
  }
}

.projectCopy p {
  color: $white;
  font-size: 3.8vw;

  @include tablet {
    font-size: 1em;
  }
}

.showMore i {
  position: static;
  font-size: 5vw;

  @include tablet {
    font-size: 1.2em;
  }
}

.showMore h3 {
  display: inline;
  margin-left: .5rem;
  font-size: 5vw;

  @include tablet {
    font-size: 1.2em;
  }
}

.projectLink i {
  position: static;
  font-size: 8vw;
  color: $white;
  border-left: 1px solid $white;
  padding: 1rem 0 1rem 1rem;

  @include laptop {
    font-size: 2em;
  }
}

.projectLink a {
  display: inline;
  text-align: right;
  margin-top: 2rem;
  color: $white;
  text-decoration: none;
  font-size: 6vw;
  padding-right: 1rem;

  @include laptop {
    font-size: 2em;
  }
}

//* About Section Styles *//
.aboutSection a {
  color: $black;
  text-decoration: none;
}

article.bioMolecule p {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  line-height: 1.7;

  @include laptop {
    width: 72.5%;
    max-width: 700px;
    margin-top: 2rem;
    margin-left: 20%;
  }

  @include desktop {
    width: 47.5%;
    float: right;
    margin-left: 0;
    margin-top: 0;
  }
}

.skills h5 {
  font-size: 8vw;

  @include tablet {
    font-size: 2.8em;
  }

  @include desktop{
    font-size: 2.2em;
    margin-top: 1rem;
  }
}

.skills h6 {
  display: inline;
  font-family: $copy-font;
  font-size: 4.5vw;

  @include tablet {
    font-size: 1.4em;
  }

  @include desktop{
    font-size: 1em;
  }
}

.pdfWrapper h5 {
  font-size: 8vw;
  display: inline;
  float: left;
  margin-top: 5.6vw;

  @include tablet {
    font-size: 2.5em;
    margin-top: 2rem;
  }

  @include desktop{
    font-size: 2.2em;
  }
}

.pdfWrapper i {
  position: static;
  font-size: 7vw;
  margin-top: 9.2vw;
  margin-left: 4vw;

  @include tablet {
    font-size: 2em;
    margin-top: 3.25rem;
    margin-left: 1.6rem;
  }

  @include desktop{
    font-size: 1.4em;
    margin-top: 3.3rem;
  }
}

.emailWrapper h5 {
  font-size: 5vw;
  border-bottom: 1px solid $black;
  font-weight: lighter;
  padding-bottom: 1vw;
  float: right;
  margin-top: 3.25vw;

  @include tablet {
    font-size: 1.75em;
    margin-top: 1.25rem;
    padding-bottom: .25rem;
  }

  @include desktop{
    font-size: 1.4em;
    margin-top: 1rem;
  }
}
