$header-font: 'Jura', cursive;
$project-copy: 'Noto Sans';

//*colors*//

$white: #fff;
$black: #1C2630;
$transBlack: hsla(210, 26%, 15%, 0.6);
$transBlackDark: hsla(210, 26%, 15%, 0.8);
$duck-blue: #589CA7;
$grey-blue: #3A6671;
$gold: #D77A2C;
$maroon: #8C2540;
$grey: #424B5E;

//*media queries*//

$tablet-width: "screen and (min-width: 480px)";
$laptop-width: "screen and (min-width: 760px)";
$desktop-width: "screen and (min-width: 1080px)";
$mega-width: "screen and (min-width: 1500px)";

//*mixins*//

@mixin tablet {
  @media #{$tablet-width} {
    @content;
  }
}

@mixin laptop {
  @media #{$laptop-width} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop-width} {
    @content;
  }
}

@mixin megaScreen {
  @media #{$mega-width} {
    @content;
  }
}
